<!doctype html>
<html lang="en" data-bs-theme="auto">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% block metaDescription %}{% endblock %}">

		<title>
			{% block title %}Welcome
			{% endblock %}
		</title>


		<link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
         <link href="{{asset('assets/css/style.min.css')}}" rel="stylesheet"> 
        {% block stylesheet %} {% endblock %} 
        </head> 
        <body> 
        <header> {% include "partial/header.html.twig" %} </header> 
        
        <main>
         {% block body %} {% endblock %}
          <!-- FOOTER --> 
          <footer class="container-fluid"> {% include "partial/footer.html.twig" %} </footer> 
        </main> 
        <script src="{{asset('assets/js/jquery-3.7.1.min.js')}}">> 
        <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}">> 
        {% block javascript %}{% endblock %}
			</body>
		</head>
	</html>
